In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./data/한국교통안전공단_지역별 시내버스의 저상버스 운행 노선수 현황_20220830.csv',encoding='utf-8')
df

         구분  시내버스(전체) 운행노선수  시내버스(저상버스) 운행노선수  저상버스 운행노선 비율
0     서울특별시             371               310          83.6
1     부산광역시             130                73          56.2
2     대구광역시             117               107          91.5
3     인천광역시             209                40          19.1
4     광주광역시             101                38          37.6
5     대전광역시              96                 8           8.3
6     울산광역시             152                49          32.2
7   세종특별자치시              26                 6          23.1
8       경기도            3241               221           6.8
9       강원도             245               104          42.4
10     충청북도             399                28           7.0
11     충청남도            1090               139          12.8
12     전라북도             759                75           9.9
13     전라남도             341                30           8.8
14     경상북도            1071               212          19.8
15     경상남도             629               210          33.4
16  제주특별자치도             144                34          23.6

In [3]:
df1 = pd.read_csv('./data/한국교통안전공단_지역별 저상버스 보급현황_20211231.csv',encoding='utf-8')
df1

         구분  2021년 저상버스 대수  2021년 보급률
0     서울특별시           4412       59.7
1     부산광역시            728       28.9
2     대구광역시            608       37.5
3     인천광역시            580       26.3
4     광주광역시            297       29.7
5     대전광역시            339       33.4
6     울산광역시            103       12.1
7   세종특별자치시            100       37.3
8       경기도           2112       19.2
9       강원도            203       39.7
10     충청북도            137       21.5
11     충청남도             89        9.9
12     전라북도            187       22.9
13     전라남도            124       16.8
14     경상북도            222       17.3
15     경상남도            439       25.2
16  제주특별자치도            148       17.8

In [4]:
lowbus_info = pd.merge(df,df1)
lowbus_info

,구분,시내버스(전체) 운행노선수,시내버스(저상버스) 운행노선수,저상버스 운행노선 비율,2021년 저상버스 대수,2021년 보급률
0,서울특별시,371,310,83.6,4412,59.7
1,부산광역시,130,73,56.2,728,28.9
2,대구광역시,117,107,91.5,608,37.5
3,인천광역시,209,40,19.1,580,26.3
4,광주광역시,101,38,37.6,297,29.7
5,대전광역시,96,8,8.3,339,33.4
6,울산광역시,152,49,32.2,103,12.1
7,세종특별자치시,26,6,23.1,100,37.3
8,경기도,3241,221,6.8,2112,19.2
9,강원도,245,104,42.4,203,39.7
10,충청북도,399,28,7.0,137,21.5
11,충청남도,1090,139,12.8,89,9.9
12,전라북도,759,75,9.9,187,22.9
13,전라남도,341,30,8.8,124,16.8
14,경상북도,1071,212,19.8,222,17.3
15,경상남도,629,210,33.4,439,25.2
16,제주특별자치도,144,34,23.6,148,17.8

In [5]:
lowbus_info.to_csv('./res/lowbus_info.csv')