In [1]:
import pandas as pd

# 부산시 저상버스 현황

In [2]:
# 저상버스 운행노선수 현황

df = pd.read_csv('./data/한국교통안전공단_지역별 시내버스의 저상버스 운행 노선수 현황_20220830.csv',encoding='utf-8')
df

         구분  시내버스(전체) 운행노선수  시내버스(저상버스) 운행노선수  저상버스 운행노선 비율
0     서울특별시             371               310          83.6
1     부산광역시             130                73          56.2
2     대구광역시             117               107          91.5
3     인천광역시             209                40          19.1
4     광주광역시             101                38          37.6
5     대전광역시              96                 8           8.3
6     울산광역시             152                49          32.2
7   세종특별자치시              26                 6          23.1
8       경기도            3241               221           6.8
9       강원도             245               104          42.4
10     충청북도             399                28           7.0
11     충청남도            1090               139          12.8
12     전라북도             759                75           9.9
13     전라남도             341                30           8.8
14     경상북도            1071               212          19.8
15     경상남도             629               210          33.4
16  제주특별자치도             144                34          23.6

In [3]:
# 저상버스 보급현황

df1 = pd.read_csv('./data/한국교통안전공단_지역별 저상버스 보급현황_20211231.csv',encoding='utf-8')
df1

         구분  2021년 저상버스 대수  2021년 보급률
0     서울특별시           4412       59.7
1     부산광역시            728       28.9
2     대구광역시            608       37.5
3     인천광역시            580       26.3
4     광주광역시            297       29.7
5     대전광역시            339       33.4
6     울산광역시            103       12.1
7   세종특별자치시            100       37.3
8       경기도           2112       19.2
9       강원도            203       39.7
10     충청북도            137       21.5
11     충청남도             89        9.9
12     전라북도            187       22.9
13     전라남도            124       16.8
14     경상북도            222       17.3
15     경상남도            439       25.2
16  제주특별자치도            148       17.8

In [4]:
# 저상버스 노선수 현황과 보급현황 합치기

lowbus_info = pd.merge(df,df1)
lowbus_info

,구분,시내버스(전체) 운행노선수,시내버스(저상버스) 운행노선수,저상버스 운행노선 비율,2021년 저상버스 대수,2021년 보급률
0,서울특별시,371,310,83.6,4412,59.7
1,부산광역시,130,73,56.2,728,28.9
2,대구광역시,117,107,91.5,608,37.5
3,인천광역시,209,40,19.1,580,26.3
4,광주광역시,101,38,37.6,297,29.7
5,대전광역시,96,8,8.3,339,33.4
6,울산광역시,152,49,32.2,103,12.1
7,세종특별자치시,26,6,23.1,100,37.3
8,경기도,3241,221,6.8,2112,19.2
9,강원도,245,104,42.4,203,39.7
10,충청북도,399,28,7.0,137,21.5
11,충청남도,1090,139,12.8,89,9.9
12,전라북도,759,75,9.9,187,22.9
13,전라남도,341,30,8.8,124,16.8
14,경상북도,1071,212,19.8,222,17.3
15,경상남도,629,210,33.4,439,25.2
16,제주특별자치도,144,34,23.6,148,17.8

In [14]:
# 부산시 저상버스 현황
busanlowbus = lowbus_info[lowbus_info['구분']=='부산광역시']
busanlowbus

,구분,시내버스(전체) 운행노선수,시내버스(저상버스) 운행노선수,저상버스 운행노선 비율,2021년 저상버스 대수,2021년 보급률
1,부산광역시,130,73,56.2,728,28.9

In [16]:
df2 = pd.read_csv('./res/busnumber.csv')
df2

,Unnamed: 0,연번,노선번호,업체,기점,경유지,종점,평일_운행대수,토요일_운행대수,공휴일_운행대수,...,휴식소요시간(분),평일첨두_배차간격,평일비첨두_배차간격,토요일첨두_배차간격,공휴일비첨두_배차간격,1대당횟수(평일),1일총횟수(평일),1일총횟수(토요일),1일총횟수(공휴일),첫차~막차
0,0,1.0,2,동원,다대포,하단,부산역,18.0,18.0,17.0,...,20.0,7.0,11.0,10.0,11.0,5.7,102.0,102.0,100.0,05:00~22:15
1,1,2.0,3,동진,다대포,하단,신호주거단지,15.0,12.0,12.0,...,20.0,11.0,14.0,16.0,16.0,4.9,73.0,65.0,65.0,05:00~21:50
2,2,3.0,5-1,삼성,회동동,서면,국제여객터미널,16.0,13.0,13.0,...,35.0,13.0,16.0,17.0,16.0,4.1,66.0,57.0,61.0,04:50~22:20
3,3,4.0,6,남부,청학동,남포동,괴정,20.0,17.0,15.0,...,20.0,5.0,8.0,9.0,11.0,6.2,123.0,106.0,93.0,04:50~22:45
4,4,5.0,7,남부,청학동,남포동,수산가공선진화단지,8.0,7.0,6.0,...,15.0,12.0,15.0,17.0,18.0,7.9,63.0,58.0,51.0,05:00~22:37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179,179,NaN,2000,동원,NaN,NaN,NaN,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
180,180,NaN,2000,동진,NaN,NaN,NaN,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
181,181,NaN,2000,태영,NaN,NaN,NaN,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182,182,NaN,2000,계,하단역,"명지,외포",거제 연초,5.0,5.0,5.0,...,30.0,25.0,25.0,25.0,25.0,4.0,20.0,20.0,20.0,06:00~22:30
183,183,NaN,계,NaN,NaN,NaN,NaN,2377.0,2164.0,1987.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
busanlowbus['전체 버스 대수'] = df2['평일_운행대수'].loc[183]
busanlowbus

C:\Users\시달이\AppData\Local\Temp\ipykernel_15088\4274781141.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  busanlowbus['전체 버스 대수'] = df2['평일_운행대수'].loc[183]

,구분,시내버스(전체) 운행노선수,시내버스(저상버스) 운행노선수,저상버스 운행노선 비율,2021년 저상버스 대수,2021년 보급률,전체 버스 대수
1,부산광역시,130,73,56.2,728,28.9,2377.0

In [22]:
busanlowbus.rename(columns={"시내버스(전체) 운행노선수":"시내버스 운행노선수","시내버스(저상버스) 운행노선수":"저상버스 운행노선수","2021년 저상버스 대수":"저상버스 대수","2021년 보급률":"저상버스 보급률","전체 버스 대수":"시내버스 대수"},inplace=True)
busanlowbus

C:\Users\시달이\AppData\Local\Temp\ipykernel_15088\1071113634.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  busanlowbus.rename(columns={"시내버스(전체) 운행노선수":"시내버스 운행노선수","시내버스(저상버스) 운행노선수":"저상버스 운행노선수","2021년 저상버스 대수":"저상버스 대수","2021년 보급률":"저상버스 보급률","전체 버스 대수":"시내버스 대수"},inplace=True)

      구분  시내버스 운행노선수  저상버스 운행노선수  저상버스 운행노선 비율  저상버스 대수  저상버스 보급률  시내버스 대수
1  부산광역시         130          73          56.2      728      28.9   2377.0

In [25]:
busanlowbus = busanlowbus[['구분','시내버스 운행노선수','저상버스 운행노선수','저상버스 운행노선 비율','시내버스 대수','저상버스 대수','저상버스 보급률']]
busanlowbus

      구분  시내버스 운행노선수  저상버스 운행노선수  저상버스 운행노선 비율  시내버스 대수  저상버스 대수  저상버스 보급률
1  부산광역시         130          73          56.2   2377.0      728      28.9

In [26]:
busanlowbus.to_csv('./res/busanlowbus.csv')